.poster
  %p Government isn't very good at computers. 
  %p They spend millions to produce mediocre websites, hide away really useful public information and generally get it wrong. Which is a shame.

  %p 
    %em Calling all people who make things.
    We're going to show them how its done.

%ul.home_nav
  %li= link_to "National Hack The Government Day", pages_path(:action => 'hackthegovday')
  %li= link_to "Hack Day Teen", pages_path(:action => 'hackthegovdayteen'), :class => "new"
  %li= link_to "Hack Day Parliament", pages_path(:action => 'parliament'), :class => "new"
  %li= link_to "API wiki", "http://wiki.rewiredstate.org/?page=APIs"
  %li= link_to "Creations", projects_path
  %li= link_to "Blog", "http://blog.rewiredstate.org"
  %li= link_to "Buzz", pages_path(:action => 'buzz')
  %li= link_to "Join In", pages_path(:action => "joinin")
