.main_content
  %h2 Young Rewired State

  %p Young Rewired State is a weekend event emulating the success of ReWired State's National Hack the Government Day, but this time with hackers aged 15-18.

  %hr
  
  %h2#when_and_where When and Where
  
  .clearfix
    %img{:src => "images/yrs_map.png", :class => "body_image"}
  
    %p 22nd and 23rd August 2009
    %p Google HQ London, Victoria
  
  %hr
  
  %h2#for_the_young_people For the young people
  
  %p Fancy hacking the Government into shape? Want to create websites and applications that can help you, your school, town, country or the world?

  %p How about we give you Google's offices in the heart of London, technology and a tonne of the country's best programmers and hackers to help and teach you along the way? We'll also give you food and drink to keep you going.

  %p If so, and you're aged between 15 and 18, we'd love you to come to our free weekend to see what you can come up with. We think we're all in for a big surprise.

  %p If you're worried about not being skilled enough, view our skill requirements below.
  
  .show_hide_section
    %p
      %a.skills_requirements.show_link.sub_text{:href => "#skills_requirements"} View skill requirements
    
    #skills_requirements.show_content
      %p As with any geek event, the skill levels required to attend Young Rewired State has been a source of concern for many people. This is totally normal when people first approach a geek group, but very rarely a genuine issue once you arrive. 

      %p So here is a brief clarification.

      %p
        We're not so much looking for skills but rather a mind set. A good indicator of this to us would be you have done
        %em something
        hacky. Here's a brief list of things we'd consider a good indicator: (anything from this list is a sign you're excited by technology, and is by no means complete)

      %ul
        %li Made a website with some understanding of HTML and CSS.
        %li Installed blog or forum software and played around - such as wordpress/drupal/phpbb.
        %li Written your own script.
        %li Have used a unix/linux command line, or Mac OS X terminal.
        %li Know basic programming knowledge (ie. 'while loops' and 'if statements' are.)


      %p In other words, we want you to have 'tinkered' with computers in your own time and of your own accord.

      %p
        If in any doubt, don't hesitate to contact us at
        %a{:href=> "mailto:info@rewiredstate.org"} info@rewiredstate.org
        and we'll answer any questions.
    %p
      %a.play_link.sub_text{:href => "#signup"} Sign Up
    
  %hr

  %h2#for_the_older_people For the old(er) people

  %p A weekend for teenagers to create hardware and software hacks using government data as well as any other data sets we find that might be useful. Rewired State geeks will be on hand to teach and assist where necessary; and at the end of the weekend there will be a show and tell to government Ministers, civil servants, Press, entrepreneurs and interested parties/sponsors.

  %p This is a group of talent that we think should be encouraged to be more visible, we are also going to take this opportunity to raise awareness of the types of skill now required and make a push to affect the curriculum - which is a woefully poor reflection of the programming languages available and/or useful.
  
  %p
    %a.play_link.sub_text{:href => "#signup"} Sign Up

  %hr
  
  %h2#schedule Schedule
  
  %p
    Saturday 22nd August:<br />
    10:00 Start<br />
    10:30 Planning session<br />
    12:30 Lunch<br />
    13:30 Hacking starts<br />
    17:30 Dinner<br />
    18:30 Home (Hacking overnight allowed!)

  %p
    Sunday 23rd August:<br />
    10:00 Back to hacking<br />
    11:30 Brunch<br />
    12:30 Back to hacking<br />
    16:00 Presentations to Judges and Press<br />
    18:30 Prizes announced
  

  %h2#press Press
  
  %p
    Tiffany from Stimulation Ltd is handling the PR for Young Rewired State. You can contact her at
    %a{:href => "mailto:tiffany@rewiredstate.org"} tiffany@rewiredstate.org
  
  %hr

  %h2#signup Sign up
  
  %p
    I'd like to register for Young Rewired State, I'm a 
    %select.signup_chooser
      %option ---
      %option{:value => "young_form"} Young Person
      %option{:value => "mentor_form"} Older Hacker
      %option{:value => "observer_form"} Observer
  
  .sign_up_forms
    / Young
    <iframe id="young_form" src="http://spreadsheets.google.com/embeddedform?key=p6Stpim9Vjoz-2BYAgd91AA" width="100%" height="950" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  
    / Mentor
    <iframe id="mentor_form" src="http://spreadsheets.google.com/embeddedform?key=tRFhfbPtSoQBXWYGm4BaQmg" width="100%" height="630" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    
    /Observer
    <iframe id="observer_form" src="http://spreadsheets.google.com/embeddedform?key=tM90xRS_8d5P1PE7E_NUrpg" width="100%" height="680" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  
  %h2#get_involved Get Involved
  
  %p Once you've done that, get talking:
  
  %ul
    %li=link_to "Wiki page", "http://wiki.rewiredstate.org/?page=Young+Rewired+State"
    %li= link_to "Join our Mailing List", "http://groups.google.com/group/rewiredstate"
    %li= link_to "#rewiredstate on freenode IRC", "irc://irc.freenode.net/rewiredstate"
      
.sub_content
  %ul.sub_nav
    %li= link_to "When and Where", "#when_and_where"
    %li= link_to "For the Young People", "#for_the_young_people"
    %li= link_to "For the Old(er) People", "#for_the_older_people"
    %li= link_to "Schedule", "#schedule"
    %li= link_to "Press", "#press"
    %li= link_to "Sign Up", "#signup"
    %li= link_to "Wiki", "http://wiki.rewiredstate.org/?page=Young+Rewired+State"
  
  %h2 Sponsors
  
  = link_to image_tag('sponsor/direct.gif', :alt => "DirectGov"), "http://direct.gov.uk"
  = link_to image_tag('sponsor/4ip.gif', :alt => "4ip"), "http://www.4ip.org.uk/"
  = link_to image_tag('sponsor/dcms.gif', :alt => "Department for Culture, Media and Sport"), "http://www.culture.gov.uk/"
  = link_to image_tag('sponsor/guardian.jpg', :alt => "The Guardian"), "http://www.guardian.co.uk/"
  = link_to image_tag('sponsor/CIOCouncil.gif', :alt => "CIO Council"), "http://www.cabinetoffice.gov.uk/cio.aspx"
  
  