%p
  %label
    .span-4
      Title:
    = form.text_field 'title'
%p
  %label
    .span-4
      Description:
    = form.text_area 'description'
%p
  %label
    .span-4
      URL:
    = form.text_field 'url'
%p
  %label
    .span-4
      Github User Name:
    = form.text_field 'github_user'
%p
  %label
    .span-4
      Github Repository Name:
    = form.text_field 'github_repo'
%p
  %label
    .span-4
      Subversion path:
    = form.text_field 'svn_path'
/ %p
/   %label
/     .span-4
/       OpenID:
/     = form.text_field 'openid', :value => session[:openid_url]