%p
  %label
    Title:
    = form.text_field 'title'
%p
  %label
    Description:
    = form.text_area 'description'
%p
  %label
    URL:
    = form.text_field 'url'
%p
  %label
    Github User Name:
    = form.text_field 'github_user'
%p
  %label
    Github Repository Name:
    = form.text_field 'github_repo'
%p
  %label
    Subversion path:
    = form.text_field 'svn_path'
%p
  %label
    OpenID:
    = form.text_field 'openid'