%p
  %label
    .span-4
      Title:
    = form.text_field 'title'
%p
  %label
    .span-4
      Description:
    = form.text_area 'description'
%p
  %label
    .span-4
      URL:
    = form.text_field 'url'
%p
  %label
    .span-4
      Github User Name:
    = form.text_field 'github_user'
%p
  %label
    .span-4
      Github Repository Name:
    = form.text_field 'github_repo'
%p
  %label
    .span-4
      Subversion path:
    = form.text_field 'svn_path'

%p
  %label
    .span-4
      Any other URL for code location:
    = form.text_field 'code_url'

%p
  %label
    .span-4
      App twitter username:
    = form.text_field 'twitter_username'

%p
  %label
    .span-4
      Bliptv embed id:
    = form.text_field 'bliptv_id'

= render :partial => "common/human_test"
