%h3 The hacks
%ul.hacks
  - @projects.each_with_index do |project, count|
    %li
      %div{:class => "span-8 #{cycle("", "", " last")}"}
        .span-2{:class => h(project.slug)}
          %img{:src => "http://s3.amazonaws.com/twitter_production/profile_images/66680232/rs_bigger.png"}
        .span-6.last
          %h3= link_to h(project.title), project_path(project)
          %p= truncate(h(project.description), 100)

%hr

%p.new_project_link= link_to "Add your project", new_project_path  
  
%script
  - @projects.each do |project|
    = "$('.#{h(project.slug)}').attach(FirstFlickrTag, '#{project.flickr_tag}');"