.span-8
  - unless @project.bliptv_id.blank?
    %embed{:src => "http://blip.tv/play/#{@project.bliptv_id}", :type => "application/x-shockwave-flash", :width => "100%", :height => "260", :allowscriptaccess => "always", :allowfullscreen => "true"}

  %p 
    = link_to "Pictures of <em>#{h @project.title}</em> on Flickr.", @project.flickr_url, :class => "photos"
    %br
    To add, tag pictures with:
    %br
    %strong= @project.flickr_tag
  %script
    $('.photos').attach(FlickrTag,
    = "'" + @project.flickr_tag + "'"
    );

.span-16.last
  %h1
    =h @project.title

  %h2.alt= link_to h(@project.url), h(@project.url) unless @project.url.blank?

  %hr

  .span-8
    = markdown @project.description
    
    %hr
    
    - unless @project.twitter_username.blank?
      %h3 Twitter feed
      
      %p.project_tweets= link_to "@#{h(@project.twitter_username)} on Twitter", "http://twitter.com"
      %script= "$('.project_tweets').attach(Twitter, '#{h(@project.twitter_username)}');"
    
  .span-8.last
    %h3 Code
    - if !@project.github_user.blank? && !@project.github_repo.blank?
      %p.commits
        The code is available at
        %a= link_to @project.github_path, @project.github_path
      %script
        $('.commits').attach(GithubProjectCommits,
        = "'#{@project.github_user}', '#{@project.github_repo}'"
        )
    - elsif @svn_commits
      %p.commits
        The code is in the subversion repo:
        %a= link_to @project.svn_path, @project.svn_path
        %ul
          - @svn_commits.each do |commit|
            %li
              = "#{commit[:revision]}: #{commit[:msg]}"
              %h3.alt= link_to h(@project.url), h(@project.url)
    - elsif !@project.code_url.blank?
      %p
        The code for this project is held at
        = link_to @project.code_url, @project.code_url
    - else
      %p This project has not provided a source code location

%hr

.span-24= link_to "edit this page", edit_project_path(@project)
