.main_content
  %h2
    =h @project.title

  = markdown @project.description

  %hr

  %p.alt= link_to h(@project.url), h(@project.url) unless @project.url.blank?

  %p.code_link
    - if !@project.github_user.blank? && !@project.github_repo.blank?
      %a= link_to @project.github_path, @project.github_path
    - elsif @svn_commits
      %a= link_to @project.svn_path, @project.svn_path
    - elsif !@project.code_url.blank?
      = link_to @project.code_url, @project.code_url
  
  %hr
  
  - unless @project.bliptv_id.blank?

    %h2 Demonstration
    %embed{:src => "http://blip.tv/play/#{@project.bliptv_id}", :type => "application/x-shockwave-flash", :width => "648px", :height => "460px", :allowscriptaccess => "always", :allowfullscreen => "true"}


.sub_content

  = link_to "edit this page", edit_project_path(@project)


  %h2.photos
    = "Flickr Photos"
  %p
    To add, tag pictures with:
    %br
    %strong= @project.flickr_tag
  %script
    $('.photos').attach(FlickrTag,
    = "'" + @project.flickr_tag + "'"
    );
