!!!
%html
  %head
    %title Rewired State Projects
    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print"> 
    <!--[if IE]>
    <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery', 'lowpro.jquery', 'application'
  %body
    .container
      .header
        %p= link_to "Rewired State", pages_path
        %ul.menu
          %li= link_to "Home", pages_path
          %li{:class => ("current" if controller_name == "projects")}= link_to "Projects", projects_path
          %li{:class => ("current" if action_name == "buzz")}= link_to "Buzz", pages_path(:action => 'buzz')
      - if session[:openid_url]
        %p
          Logged in as
          = session[:openid_url]
          - form_tag session_path, :method => :delete do
            = submit_tag 'logout'
      =yield